:root {
    --bodyColor: #615756;
    --formColor: #9dc2e1;
    --linkColor: #5555f7;
    --linkHoverColor: #3838ee;
    --linkActiveColor: ;
    --linkVisitedColor: ;
    --buttonSubmitColor: #05702e;
    --buttonSubmitBgColor: #4AE083;
    --buttonSubmitHoverColor: #36b670;
    --buttonResetColor: #810f09;
    --buttonResetBgColor: #E05D57;
    --buttonResetHoverColor: #d65147;
}

@font-face {
    font-family: Tormenta20;
    src: url(/src/fonts/Tormenta.ttf);
}

body {
    background-color: var(--bodyColor);
    font-size: 20px;
    font-family: Tormenta20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

body > h1 {
    font-size: 2.5rem;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ee2b2a;
    text-shadow: .15rem .15rem .2rem #000;
}

h1 > img{
    height: 2rem;
    margin: 0rem 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--formColor);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.names, .character_about, .character_stats, .character_health_mana{
    margin: .8rem 0rem;
}

.char_name, .player_name, .char_origin, .char_race, .char_class, .char_level, .char_strength, .char_dexterity, .char_constitution, .char_intelligence, .char_wisdom, .char_charisma, .char_life, .char_mana{
    margin: .3rem 0rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form_buttons{
    margin-top: 1rem;
}

.submit{
    color: var(--buttonSubmitColor);
    background-color: var(--buttonSubmitBgColor);
    border-radius: 1rem;
    padding: 0.3rem;
}

.submit:hover{
    background-color: var(--buttonSubmitHoverColor);
}

.reset{
    color: var(--buttonResetColor);
    background-color: var(--buttonResetBgColor);
    border-radius: 1rem;
    padding: 0.3rem;
}

.reset:hover{
    background-color: var(--buttonResetHoverColor);
}

.links{
    font-size: 1rem;
    display: flex;
    gap: .5rem;
    margin: 1.5rem;
}

.links > a{
    color: var(--linkColor);
    text-shadow: .1rem .1rem #000;
    background-color: rgba(1, 1, 1, 0.3);
    padding: .2rem;
    border-radius: .3rem;
}

.links > a:hover{
    color: var(--linkHoverColor);
}
